<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Blog Post</title>
</head>
<body>
<h1>Create Blog Post</h1>
<form th:action="@{/posts}" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" th:field="${blogPost.title}">
  <br>
  <label for="content">Content:</label>
  <textarea id="content" name="content" th:field="${blogPost.content}"></textarea>
  <br>
  <label for="author">Author:</label>
  <input type="text" id="author" name="author" th:field="${blogPost.author}">
  <br>
  <button type="submit">Create</button>
</form>
</body>
</html>
